.mytag{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: black;
}

.card-content{
    font-size: xx-large;
    font-weight: bold;
}
.heading{
    font-size: larger;
    font-weight: bold;
}
.about-info{
    font-size: large;
    font-weight: bold;
    color: #272727;
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 30px;
}
.heading2{
    font-size: 40px;
    font-weight: bolder;
    color: #272727;
    padding-left:43%;
    text-size-adjust: 100px;
}
#about {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #cec7bd66;
    padding: 30px;
}
.heading3{
    font-size: 40px;
    font-weight: bolder;
    color: #272727;
    padding-left:45%;
    padding-right: 40%;
    padding-top: 50px;
    margin-top: 50px;
    
}
.features{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: medium;
    font-weight: bold;
    color: #272727;
    padding-left: 80px;
    padding-right: 90px;
}
.mybtn{
    margin-top: 40px;
    margin-left: 30%;
    background-color: rgb(106, 37, 202);
    color: whitesmoke ;
    font-weight: bold;
    box-shadow: 30px(0,0,0,0.5);
    margin-bottom: 30px;
}
.knowmore{
    margin-right: 30%;
    margin-top: 0px;
    margin-left: 80px;
    background-color: #dddbd644;
}
#features{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #cec7bd66;
    padding-bottom: 30px;
}
.lists{
    
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 20px;
    padding-right: 30px;
    
}
.lists:hover {
    background-color:  #682bb2b6;
    ; /* Change to the desired hover background color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Change to the desired shadow effect */
    color: whitesmoke;
    font-size: 22px;
  }