.add-entity-cardmain {
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 90px;
    padding-right: 40px;
    
}
#name, #CollectionName, #icon, #realtime{
    border: black;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
} 
.addentity-btn{
    margin-bottom: 30px;
    background-color: rgb(106, 37, 202);
    color: whitesmoke ;
    font-weight: bold;
    box-shadow: 30px(0,0,0,0.5);
    border-radius: 15px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.addentity-heading{
    font-size: 40px;
    font-weight: bolder;
    color: #ebe0e0;
    padding-left:33%;
    text-size-adjust: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.addentity-cardbody{
    padding-left: 10%;
    padding-right: 15%;
}
.addentity-container{
    background-image: url("https://c0.wallpaperflare.com/preview/198/135/731/cyber-attack-abstract-access.jpg");
    background-size: cover;
    margin-top:1%;
}
