@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-content h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #faf9fb;
    font-family: roboto slab;
}
.entity-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#selectBox{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #100014;
}
.card-content button{
    color: #fcfcfc;
    background-color: #ad85d300;
    margin-bottom: 8px;
    font-family: roboto slab;
    border: 1px solid white;
}

.entity-head{
    font-size: 20px;
    color: #fafafa;
    font-family: roboto slab;
}
.entityData-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: large;
    color: #f2eef3;
}
.card-body1{
    background-image: url("user4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
}
.crsd1{
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 50px;
    padding-bottom:60px;
     background-color: #fafafa29;
    border: 2px solid white;
    margin-top: 80px;
    border-radius: 30px;
}
.form-control2{
    background-color: rgba(249, 249, 249, 0.762);
    border: 9px solid white;
    margin-left: 10px;
    font-size: medium;
    color: #09000b 
}
