@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-content h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #faf9fb;
}
.entity-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#selectBox{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #100014;
}
.card-content button{
    color: #fcfcfc;
    background-color: #ad85d31f;
    margin-bottom: 8px;
}

.entity-head{
    font-size: 20px;
    color: #fafafa;
}
.entityData-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: large;
    color: #f2eef3;
}
.card-body1{
    background-image: url("user4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
}
.crsd1{
    margin-left: 500px;
    margin-right: 400px;
    padding-top: 50px;
    padding-bottom:60px;
    background-color: #fafafa18;
    border: 4px solid white;
    margin-top: 80px;
}
