.pribody{
    background-image: url('user4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
    padding-bottom: 268px;
}
.container7890{
    color: rgb(247, 247, 247);
    
}
.bobycdr{
padding-top: 40px;

}
.txet12{
    font-size: 30px;
    font-weight: bold;
    color: rgb(61, 4, 4);
    padding-top: 40px;
}

