.upcard{
    /* margin-top: px; */
    /* margin-left: px; */
    margin-right: 700px;
    /* background-color: #00000015; */
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1) */
}
.card-header{
    
    color: rgba(244, 242, 242, 0.944);
    margin-left: 100px;
    margin-right: 50px;
    padding-left: 40px;
    padding-top: 25px;
    margin-bottom: -11px;
    font-weight: bold;
}
.my-card-body{
    color: black;
    margin-left: 10px;
    margin-right: 60px;
    margin-top: 10px;
}
.upbtn{
    margin-bottom: 30px;
    background-color: rgba(108, 70, 51, 0.073);
    color: whitesmoke ;
    font-weight: bold;
    box-shadow: 30px(0,0,0,0.5);
    border-radius: 10px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    margin-bottom: 50px;
    border-color: rgba(245, 245, 220, 0.653);
}
.label{
    color: rgba(247, 244, 244, 0.916);
    font-weight: bold;
}
.form-div{
    margin-left: 60px;
    margin-right: -80px;
}
#apiKey, #authDomain, #projectId, #storageBucket, #messagingSenderId, #appId, #appName{
    border: rgba(255, 255, 255, 0);
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.33);
    box-shadow: 80px;

}
.uppage{
    background-image: url('user4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(15, 15, 15, 0.818)
}


